# Compiled Object files
*.slo
*.lo
*.o

# Libraries
*.so
*.lai
*.la
*.a
*.lib
*.dll

# Executables
*.exe
*.out
nmap

# http://www.gnu.org/software/automake
Makefile.in

# # http://www.gnu.org/software/autoconf
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing

# Other files that Nmap generates
/Makefile
/config.log
/config.status
/libdnet-stripped/Makefile
/libdnet-stripped/config.log
/libdnet-stripped/config.status
/libdnet-stripped/dnet-config
/libdnet-stripped/include/Makefile
/libdnet-stripped/include/config.h
/libdnet-stripped/include/dnet/Makefile
/libdnet-stripped/include/stamp-h1
/libdnet-stripped/libtool
/libdnet-stripped/src/Makefile
/libnetutil/Makefile
/libnetutil/makefile.dep
/makefile.dep
/nbase/Makefile
/nbase/config.log
/nbase/config.status
/nbase/nbase_config.h
/ncat/Makefile
/ncat/config.h
/ncat/config.log
/ncat/config.status
/ncat/makefile.dep
/ncat/ncat
/ncat/test/addrset
/ncat/test/test-cmdline-split
/ncat/test/test-uri
/ncat/test/test-wildcard
/ndiff/build/
/nmap-update/Makefile
/nmap-update/config.h
/nmap-update/config.log
/nmap-update/config.status
/nmap-update/makefile.dep
/nmap-update/nmap-update
/nmap_config.h
/nping/Makefile
/nping/config.log
/nping/config.status
/nping/makefile.dep
/nping/nping
/nping/nping_config.h
/nsock/include/nsock_config.h
/nsock/src/Makefile
/nsock/src/config.log
/nsock/src/config.status
/nsock/src/makefile.dep
/zenmap/build/
/zenmap/zenmapCore/Name.pyc
/zenmap/zenmapCore/Version.pyc
/zenmap/zenmapCore/__init__.pyc
